@using DBH.Models.Entitys;
@model FS_ServicesEntity
@{
    Layout = "_LayoutNull";
    ViewData["Title"] = "添加数据库";
    List<FS_ServiceSourceEntity> listSourceEntity = (List<FS_ServiceSourceEntity>)ViewData["listEntity"];
}
@section Styles{

}
<div class="mt-4 mb-4">
    <form class="row g-3 layui-form needs-vaildation" novalidate>
        <div class="col-md-3 text-end"><label class="col-md-10 col-form-label">数据库地址<span class="text-danger">*</span>：</label></div>
        <div class="col-md-6">
            <input type="text" class="form-control" id="databaseAddress" placeholder="数据库地址" name="DBAddress" value="@(Model.ServerAddress)" required />
        </div>
        <div class="col-md-3">
            <div class="vaild-feedback">请填写数据库地址！</div>
        </div>
        <div class="col-md-3 text-end"><label class="col-md-10 col-form-label">端口：</label></div>
        <div class="col-md-6">
            <input type="number" lay-affix="number" class="form-control" id="databasePort" placeholder="地址端口" name="DBPort" value="@(Model.ServerPortNo)" required />
        </div>
        <div class="col-md-3">
            <div class="vaild-feedback"></div>
        </div>
        <div class="col-md-3 text-end"><label class="col-md-10 col-form-label">来源<span class="text-danger">*</span>： </label></div>
        <div class="col-md-6 layui-col-md6">
            <select id="databaseSource" name="DBSource" required>
                <option value="0">--请选择来源--</option>
                @{
                    foreach (var item in listSourceEntity)
                    {
                        if (item.ID == Model.SourceID)
                        {
                            <option value="@(item.ID)" selected>@(item.SourceName)</option>
                        }
                        else
                        {
                            <option value="@(item.ID)">@(item.SourceName)</option>
                        }                     
                    }
                }
            </select>
        </div>
        <div class="col-md-3">
            <div class="vaild-feedback"></div>
        </div>
        <div class="col-md-3 text-end"><label class="col-md-10 col-form-label">数据库名称<span class="text-danger">*</span>：</label></div>
        <div class="col-md-6">
            <input type="text" class="form-control" id="databaseName" placeholder="数据库名称" name="DBName" value="@(Model.DataBaseName)" required />
        </div>
        <div class="col-md-3">
            <div class="vaild-feedback"></div>
        </div>
        <div class="col-md-3 text-end"><label class="col-md-10 col-form-label">登陆账号<span class="text-danger">*</span>：</label></div>
        <div class="col-md-6">
            <input type="text" class="form-control" id="databaseLoginName" placeholder="登陆账号" name="DBLoginName" value="@(Model.LoginName)" required />
        </div>
        <div class="col-md-3">
            <div class="vaild-feedback"></div>
        </div>
        <div class="col-md-3 text-end"><label class="col-md-10 col-form-label">登陆密码<span class="text-danger">*</span>：</label></div>
        <div class="col-md-6">
            <input type="password" class="form-control" id="databaseLoginPassword" placeholder="登陆密码" name="DBLoginPassword" value="" required />
        </div>
        <div class="col-md-3">
            <div class="vaild-feedback"></div>
        </div>
        <div class="col-md-3 text-end"><label class="col-md-10 col-form-label">数据库介绍：</label></div>
        <div class="col-md-6">
            <textarea class="form-control" id="databaseIntro" placeholder="输入简介" name="DBIntro" required>@Html.Raw(Model.DataBaseIntro)</textarea>
        </div>
        <div class="col-md-3 text-end">
            <div class="vaild-feedback"></div>
        </div>
        <div class="col-4">
        </div>
        <div class="col-4 d-grid">
            <input type="hidden" id="hid_fsServiceID" value="@(Model.ID)" />
            <button class="btn btn-primary btn-sm" type="submit">Submit form</button>
        </div>
        <div class="col-4">
        </div>
    </form>
</div>