@using DBH.Models.Entitys;
@model FS_ServicesEntity
@{
    Layout = "_LayoutMain";
    ViewData["Title"] = "搜索";
}
@section styles{
    <!--Code Light-->
    <link rel="stylesheet" href="~/lib/highlight/styles/vs.min.css">
        @* <!--Code Dark-->
        <link rel="stylesheet" href="~/lib/highlight/styles/nnfx-dark.min.css">*@
    <style>
        .codeSql { }
        .codeSql > ol > li::marker:is(:hover) { background-color: #6AF3D4; }</style>
    }

<div id="mainLeft" class="split clearfix split-horizontal">
    <div class="mainLeftContainer container-fluid">
        @{
            Html.RenderPartial("~/Views/component/_ViewLeft.cshtml");
        }
    </div>
</div>
<div>
    <input type="hidden" id="hid_fsServiceEntityID" value="@(Model.ID)" />
    <input type="hidden" id="CurrentDBAddress" value="@(ViewBag.CurrentDBAddress)" />
    <input type="hidden" id="CurrentDBName" value="@(ViewBag.CurrentDBName)" />
</div>
<div id="mainRight" class="split clearfix split-horizontal">
    <div class="container-fluid right_container" id="right_container">
        <ul class="tab_list" data-count="2">
            @*<li class="active" data-tab="1"><span class="tab_title">Table Name</span><span class="close"><i class="bi bi-x-square"></i></span></li>
            <li data-tab="2"><span class="tab_title">Function Name Thisisaproducenameplaceholder</span><span class="close"><i class="bi bi-x-square"></i></span></li>
            <li data-tab="3"><span class="tab_title">Produce Name [dbo].[pages_list]</span><span class="close"><i class="bi bi-x-square"></i></span></li>*@
        </ul>
        <div id="content_wrapper" class="content_wrapper">
           @* <div class="accordian_header tab_1 active" style="display:block;">
                <nav class="navbar navbar-light bg-light rounded px-2 shadow-sm">
                    <div class="navbar-collapse">
                        <span class="color-table"><i class="bi-table"></i> <strong>表：<span class="tab_content_title text-primary">FS_Services</span></strong></span>
                        <span class="text-secondary">服务器表，记录已配置的所有服务器地址和登陆账号密码信息。</span>
                    </div>
                </nav>
                <div class="position-relative">
                    <table id="mainTable" class="table table-striped mt-2">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="accordian_header tab_2">
                <nav class="navbar navbar-light bg-light rounded px-2 shadow-sm">
                    <div class="navbar-collapse">
                        <span class="color-func"><i class="icon iconfont icon-tubiao-hanshu"></i> <strong>函数：<span class="tab_content_title text-primary">fn_spliter</span></strong></span>
                        <span class="text-secondary">分割字符串返回表，分隔符：“,”</span>
                    </div>
                </nav>
                <div class="position-relative">
                    <pre>
                    <div class="btn-group position-absolute top-0 end-0" role="group" aria-label="Basic outlined example" style="top: 42px !important;">
                          
                    <button type="button" onclick="BtnChangeTheme(this)" data-default="1" class="btn switch_bgColor border btn-outline-secondary"><i class="bi-sun-fill"></i></button>
                                                                    </div>
                    <code class="shadow border language-sql">
                                                     USE [DBMSTool]
                                                     GO
                                                     /****** Object:  UserDefinedFunction [dbo].[fn_spliter]    Script Date: 2022/9/25 7:58:07 ******/
                                                     SET ANSI_NULLS ON
                                                     GO
                                                     SET QUOTED_IDENTIFIER ON
                                                     GO
                                                     -- =============================================
                                                     -- Author:		fbw
                                                     -- Create date: 2022年9月17日
                                                     -- Description:	测试功能
                                                     -- =============================================
                                                     ALTER FUNCTION [dbo].[fn_spliter]
                                                     (	
                                                                     @@content NVARCHAR(4000),
                                                                     @@spliter CHAR(1)
                                                     )
                                                     RETURNS @@table TABLE (id int,val nvarchar(200))
                                                     AS
                                                     BEGIN
                                                         DECLARE @@idx INT=1;
                                                         WHILE(CHARINDEX(@@spliter,@@content)<>0)
                                                         BEGIN
                                                             INSERT INTO @@table(id,val)
                                                             VALUES(@@idx,SUBSTRING(@@content,1,CHARINDEX(@@spliter,@@content)-1))
                                                             SET @@content=STUFF(@@content,1,CHARINDEX(@@spliter,@@content),'');
                                                             SET @@idx=@@idx+1;
                                                         END
                                                         INSERT INTO @@table (id, val)
                                                         VALUES (@@idx,@@content)
                                                         RETURN 
                                                     END

                                                     </code>
                                   </pre>
                </div>
            </div>
            <div class="accordian_header tab_3">
                <nav class="navbar navbar-light bg-light rounded px-2 shadow-sm">
                    <div class="navbar-collapse">
                        <span class="color-proc"><i class="bi bi-file-earmark-ppt"></i> <strong>存储过程：<span class="tab_content_title text-primary">pages_list</span></strong></span>
                        <span class="text-secondary">通用分页列表查询功能</span>
                    </div>
                </nav>
                <div class="position-relative">
                    <pre>
                    <div class="btn-group position-absolute top-0 end-0" role="group" aria-label="Basic outlined example" style="top: 42px !important;">
                          
                    <button type="button" onclick="BtnChangeTheme(this)" data-default="1" class="btn switch_bgColor border btn-outline-secondary"><i class="bi-sun-fill"></i></button>
                                                                    </div>
                    <code class="shadow border language-sql codeSql">
                USE [JunYiArt]
                GO
                /****** Object:  StoredProcedure [dbo].[pages_list]    Script Date: 2022/9/25 7:34:53 ******/
                SET ANSI_NULLS ON
                GO
                SET QUOTED_IDENTIFIER ON
                GO
                -- =============================================
                -- Author:		fengbowen
                -- Create date: 2016年3月22日
                -- Description:	公共分页查询
                --例:	pages_list 'id,classname','JY_classInfo',' isshow=1','sort asc','id',5,2,0
                -- =============================================
                ALTER PROCEDURE [dbo].[pages_list] 
                    @@fields		nvarchar(1000),		--字段,如:id,name,sex
                    @@tbname		nvarchar(500),		--表名,如:class
                    @@strwhere	nvarchar(2000),		--条件,不加where如: id>3
                    @@strorder	nvarchar(1000),		--排序,不加order by 如: sort desc
                    @@strPK		nvarchar(255),		--主键,如:id
                    @@pagesize	int,				--页容量
                    @@pageindex	int,				--第几页
                    @@rowcount	int output			--总数量
                AS
                BEGIN
                    declare @@sql nvarchar(max)='';--拼接的查询语句
                    declare @@where nvarchar(2000)='';--条件
                    declare @@order nvarchar(1000)='';--排序
                    set @@rowcount=0;--先赋初值
                    if(len(@@strwhere)>0)
                    begin
                        set @@where=' where '+@@strwhere;
                    end
                    if(LEN(@@strorder)>0)
                    begin
                        set @@order=' order by '+@@strorder;
                    end
                    else
                    begin
                        set @@order=' order by '+@@strPK+' asc';--默认排序
                    end
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql='set @@rowcount= (select count(1) from '+@@tbname +@@where+');';--查询总数
                    set @@sql+='select top '+CONVERT(nvarchar,@@pagesize)+' * from(
                    select ROW_NUMBER() over('+@@order+') rownumber,* from '+@@tbname+' '+@@where+') T
                    where T.rownumber>('+CONVERT(nvarchar,@@pageindex)+'-1)*'+CONVERT(nvarchar,@@pagesize);


                    execute sp_executesql @@sql,N'@@rowcount int out',@@rowcount out

                END
                                                     </code>
                                   </pre>
                </div>
            </div>*@
        </div>
    </div>
</div>
<div id="pop_UpdateColumnDesc" class="d-none">
    <form class="row g-3 m-0">
        <div class="col-1"></div>
        <div class="col-10">
            <label class="form-label fs-5">{TitleName}</label>
            <div class="alert alert-primary m-0" role="alert">
                <p class="chose_CurrentData fs-6">
                    <span class="chose_TableName {TableNameClass}">{TableName}</span>
                    <span class="chose_TableColumn text-danger">{ColumnName}</span><span class="chose_ColumnInfo">{ColumnInfo}</span>
                </p>
            </div>            
        </div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-10">
            <label class="form-label fs-5">说明</label>
            <textarea class="form-control chose_CurrentDesc" style="height:150px;" placeholder="说明" required>{Desc}</textarea>          
        </div>
        <div class="col-1"></div>
        <div class="col-7"></div>
        <div class="col-4">
            <button type="submit" class="btn btn-primary btn-sm">&nbsp;&nbsp;&nbsp;&nbsp;提&nbsp;&nbsp;交&nbsp;&nbsp;&nbsp;&nbsp;</button>
        </div>
        <div class="col-1"></div>
    </form>
</div>
@section scripts{
    <script src="~/lib/highlight/highlight.js"></script>
    <script src="~/lib/highlight/languages/sql.min.js"></script>
    @*Split插件，详见：http://www.htmleaf.com/Demo/201512072873.html*@
    <script src="~/lib/splitpage/js/split.js" charset="gb2312"></script>
    <script src="~/js/search/searchmain.js"></script>
    <script>
        hljs.highlightAll();
    </script>
    <script type="text/javascript">
        /**
         * 全局数据，数据库配置表实体部分数据
         */
        var ServcieData = {
            ID: @(Model.ID) ,
            DBAddress: '@(ViewBag.CurrentDBAddress)',
            DBName: '@(ViewBag.CurrentDBName)'
        };
       
        $(function () {
            Split(['#mainLeft', '#mainRight'], {
                sizes: [15, 85],//左右初始宽度比例%
                minSize: [0, 100],//左右最小宽度
                gutterSize: 10,  //分割条的宽度
                snapOffset: 0,
                direction: "horizontal",//horizontal or vertical
            });
            setSplitPageHight();
            //DynamicSetSplitSliderHight();
            ShowLineNo('');
            setCurrentDBAddress();

        })
        /**
         * 设置当前选择的数据库的地址显示
         */
        function setCurrentDBAddress() {
            $("#hid_SearchFSServcieEntityID").val(ServcieData.ID);
            $("#current_Server_Title").html(ServcieData.DBName);
            var toolTipEle = document.getElementById('current_Server_Title');
            var tooltip = new bootstrap.Tooltip(toolTipEle, {
                animation: true,
                delay: 0,
                placement: 'left',
                title: ServcieData.DBAddress,
                trigger: 'hover focus',
                fallbackPlacements: ['right', 'top', 'bottom'],
                //customClass: 'bg-success'
            })
        }
    </script>
}
